@font-face {
    font-family: "Geist Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("geist-sans/geist-sans-latin-400-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Geist Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("geist-sans/geist-sans-latin-500-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Geist Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url("geist-sans/geist-sans-latin-600-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Geist Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("geist-sans/geist-sans-latin-700-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Geist Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url("geist-sans/geist-sans-latin-800-normal.woff2") format("woff2");
}
